@{
    ViewBag.Title = "Home Page";
}

@using System.Data;

<div class="jumbotron text-center">
    <h1>User Management</h1>
</div>
<form action="Result" method="post">
    <div class="center-block">
        <table class="table">
            <tr>
                <td>
                    <input type="submit" value="Add" name="add"/>
                    <input type="submit" value="Edit" name="edit"/>
                    <input type="submit" value="Delete" name="delete"/>
                    <input type="submit" value="Logout" name="logout"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="center-block">
        <table class="table table-bordered">
            <tr>
                <td />
                <td>Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Date of Birth</td>
                <td>Is Admin</td>
                <td>Vehicles</td>
                <td>Edit Vehicles</td>
            </tr>
            @{
                var table = (DataTable)ViewData["Users"];
                var rows = table.Rows;
                for (int i = 0; i < rows.Count; i++)
                {
                    var row = rows[i];
                    int id = (int)row["id"];
                    <tr>
                        <td>
                            @*@{
                                if (i == 0)
                                {
                                    <input type="radio" id="select" name="select" value="@id" checked />
                                }
                                else
                                {
                                    <input type="radio" id="select" name="select" value="@id" />
                                }
                            }*@
                            @Html.RadioButton("Selected", new { Id = id })
                        </td>
                        <td>@id.ToString()</td>
                        <td>@row["FirstName"].ToString()</td>
                        <td>@row["LastName"].ToString()</td>
                        <td>@row["Email"].ToString()</td>
                        <td>@(((DateTime)row["DateOfBirth"]).ToString("d"))</td>
                        <td>
                            @{
                                int raw = (int)row["IsAdmin"];
                                bool isAdmin = raw == 1;
                                if (isAdmin)
                                {
                                    <input type="checkbox" checked disabled />
                                }
                                else
                                {
                                    <input type="checkbox" disabled />
                                }
                            }
                        </td>
                        <td>@row["Vehicles"].ToString()</td>
                        <td>
                            @using (Html.BeginForm("EditVehicles", "Home", new { Id = id }, FormMethod.Get))
                            {
                                <button>Edit</button>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</form>
