@{
    ViewBag.Title = "Home Page";
}

@using System.Data;

<div class="jumbotron text-center">
    <h1>User Management</h1>
</div>
<div class="center-block">
    <table class="table">
        <tr>
            <td>
                <button>Add</button>
                <button>Edit</button>
                <button>Delete</button>
                <button>Logout</button>
            </td>
        </tr>
    </table>
</div>
<div class="center-block">
    <table class="table table-bordered">
        <tr>
            <td/>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Date of Birth</td>
            <td>Is Admin</td>
            <td>Vehicles</td>
            <td>Edit Vehicles</td>
        </tr>
        @{ 
            var set = (DataSet)ViewData["Users"];
            var table = set.Tables["Users"];
            var rows = table.Rows;
            for (int i = 0; i < rows.Count; i++)
            {
                var row = rows[i];
                int id = (int)row["id"];
                <tr>
                    <td>
                        <input type="radio" id="select_@id" name="select" />
                    </td>
                    <td>@id.ToString()</td>
                    <td>@row["FirstName"].ToString()</td>
                    <td>@row["LastName"].ToString()</td>
                    <td>@row["Email"].ToString()</td>
                    <td>@(((DateTime)row["DateOfBirth"]).ToString("d"))</td>
                    <td>
                        @{
                            int raw = (int)row["IsAdmin"];
                            bool isAdmin = raw == 1 ? true : false;
                            if (isAdmin)
                            {
                                <input type="checkbox" checked disabled />
                            }
                            else
                            {
                                <input type="checkbox" disabled />
                            }
                        }
                    </td>
                    <td>@row["Vehicles"].ToString()</td>
                    <td>
                        <button>Edit</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>